

{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Welcome to Trillumize Tech</h4>
                <h2>Our Purpose and Mission</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Banner Ends Here -->

    <section class="about-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <img src="assets/images/about-us.jpg" alt="">
            <img src="{% static 'images/about-us.jpg' %}" alt="Banner 01">
            <p>At Newhatch Tech, our purpose is to create an inclusive and diverse community dedicated to solving society's most pressing problems. We empower individuals and businesses with innovative and cutting-edge solutions that promote progress and positive change.</p>
            <p>We believe that every individual, regardless of age, race, or background, has something valuable to contribute to the community. We foster an environment that encourages creativity and collaboration, where everyone's ideas are welcomed and embraced. Through education and resources, we inspire and encourage individuals to use technology to make a positive impact on the world.</p>
            <p>Our commitment to excellence extends beyond our products and into our relationships with our customers, employees, and the community. We aim to inspire trust, respect, and admiration. We are dedicated to creating a better future for everyone by tackling the most pressing issues facing society today, including technology, climate change, agriculture, social life, and inner engineering.</p>
            <p>We recognize that these challenges are complex and require innovative solutions. Therefore, we constantly push the boundaries of what is possible, leveraging the latest advancements in technology to create products that are functional, efficient, user-friendly, and intuitive.</p>
            <p>Our values of inclusivity, diversity, creativity, collaboration, excellence, and making a positive impact on the world underpin everything we do at Newhatch Tech. We create a culture that reflects these values, treating everyone with respect and dignity, and recognizing and celebrating their contributions.</p>
            <p>Through our work, we strive to inspire and empower individuals to use technology to create positive change in the world, to push the boundaries of what is possible, and to make a lasting impact. We build a community driven by purpose and passion, committed to making a difference and creating a better future for everyone.</p>
            <p>At Newhatch Tech, we believe that anything is possible when people come together to work towards a common goal. We are proud to be at the forefront of this movement, and we invite you to join us on this journey towards progress and positive change.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h4>Our Purpose</h4>
            <ul>
              <li>Foster an environment that encourages creativity and collaboration.</li>
              <li>Empower individuals and businesses with innovative and cutting-edge solutions that promote progress and positive change.</li>
              <li>Provide educational and resource opportunities to help people learn how to use technology to make a positive impact on the world.</li>
              <li>Build a vibrant and diverse community that is passionate about progress and positive change.</li>
              <li>Create a space where individuals and businesses can come together to collaborate and exchange ideas.</li>
              <li>Inspire and empower individuals to use technology to create positive change in the world.</li>
              <li>Tackle the most pressing issues facing society today, including technology, climate change, agriculture, social life, and inner engineering.</li>
              <li>Push the boundaries of what is possible, leveraging the latest advancements in technology to create products that are not only functional and efficient but also user-friendly and intuitive.</li>
              <li>Make a positive impact on the world through work and dedicated to creating a better future for everyone.</li>
              <li>Build a culture that reflects the values of inclusivity, diversity, creativity, collaboration, excellence, and making a positive impact on the world.</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <h4>Our Mission</h4>
            <p>Overall, the purpose of Newhatch Tech community is to bring together like-minded individuals who are passionate about creating positive change through innovation, collaboration, and technology, and to provide them with the resources and opportunities they need to make a difference in the world.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <ul class="social-icons">
              <li><a href="https://www.facebook.com/saah.ransomm" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/SaahndongRansom" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://github.com/saahndongransom"><i class="fa fa-github"></i></a></li>
              <li><a href="https://www.linkedin.com/in/saahndong-ransom-7b3ba41b3/"target="_blank"  ><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>

      </div>
    </section>
    

    {% endblock %}

  </body>
</html>